<div class="card bg-light mb-3">
  <div class="card-header h2 text-center">{{titulo}}</div>
  <div class="card-body mx-auto">
    <button class="btn btn-outline-danger my-2 mb-4" routerLink="/clientes"><i class="fas fa-reply"></i></button>
    <form autocomplete="off" #clienteForm="ngForm">
      <div class="form-group">
        <label for="document" id="document">Documento</label>
        <input [(ngModel)]="cliente.document" class="form-control entradaC" type="text" name="document" autofocus required minlength="8" maxlength="10" pattern="[0-9]{8,10}" #document="ngModel">
        <div class="alert alert-danger" *ngIf="error">
          {{error.mensaje}}
        </div>
        <div class="alert alert-danger" *ngIf="document.invalid && (document.dirty || document.touched)">
          <div *ngIf="document.errors.required">
            El documento es requerido
          </div>
          <div *ngIf="document.errors.minlength">
            El documento debe tener al menos 8 números
          </div>
          <div *ngIf="document.errors.maxlength">
            El documento debe tener máximo 10 números
          </div>
          <div *ngIf="document.errors.pattern">
            El documento debe ser numérico
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name" id="name">Nombre</label>
        <input [(ngModel)]="cliente.name" class="form-control entradaC" type="text" name="name" required #name="ngModel">
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required">
            El nombre es requerido
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" id="lastname">Apellidos</label>
        <input [(ngModel)]="cliente.lastname" class="form-control entradaC" type="text" name="lastname" required #lastname="ngModel">
        <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          <div *ngIf="lastname.errors.required">
            El apellido es requerido
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address" id="address">Dirección</label>
        <input [(ngModel)]="cliente.address" class="form-control entradaC" type="text" name="address" required #address="ngModel">
        <div class="alert alert-danger" *ngIf="address.invalid && (address.dirty || address.touched)">
          <div *ngIf="address.errors.required">
            La Dirección es requerida
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" id="email">Email</label>
        <input [(ngModel)]="cliente.email" class="form-control entradaC" type="text" name="email" required #email="ngModel">
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required">
            El email es requerido
          </div>
        </div>  
      </div>
      <div class="form-group">
        <label for="phone" id="phone">Telefono</label>
        <input [(ngModel)]="cliente.phone" class="form-control entradaC" type="text" name="phone" required #phone="ngModel">
        <div class="alert alert-danger" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
          <div *ngIf="phone.errors.required">
            El telefono es requerido
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="cliente.clientId? editar(): crear()" [disabled]="!clienteForm.form.valid">{{cliente.clientId? 'Editar':'Crear'}}</button>
      </div>
    </form>
  </div>
</div>
